apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dvn-workshop-jan
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lzMichelotti/infra-as-code-aws.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true