apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 236510206699.dkr.ecr.us-west-1.amazonaws.com/infra-as-code-aws/production/frontend
        ports:
        - containerPort: 80