apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 236510206699.dkr.ecr.us-west-1.amazonaws.com/infra-as-code-aws/production/backend
        ports:
        - containerPort: 80